force-app/main/default/flows/validate_code_appointment_of_pay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Code_is_true</name>
        <label>Code is true?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Display_code_is_incorrect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>incorrect</defaultConnectorLabel>
        <rules>
            <name>is_correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>codeUserPay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtain_record_for_payment.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_completed</targetReference>
            </connector>
            <label>is correct</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>validate code appointment of pay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>validate code appointment of pay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtain_record_for_payment</name>
        <label>Obtain record for payment</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Codigo_De_Pago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_status_completed</name>
        <label>Update status completed</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Code_Is_Correct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>codeUserPay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Payment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <screens>
        <name>Code_Is_Correct</name>
        <label>Code Is Correct</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Variable_Correct_Code</name>
            <fieldText>&lt;p&gt;{!CodeCorrect}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Codigo_De_Pago</name>
        <label>Codigo De Pago</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Code_is_true</targetReference>
        </connector>
        <fields>
            <name>Ingresa_el_c_digo_de_pago_n_mero_de_reserva</name>
            <dataType>String</dataType>
            <fieldText>Ingresa el código de pago (número de reserva)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Validar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_code_is_incorrect</name>
        <label>Display code is incorrect</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Code_No_Correct</name>
            <fieldText>&lt;p&gt;{!CodeNoCorrect}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtain_record_for_payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CodeCorrect</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!codeUserPay}, Código correcto, su cita está completada.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CodeNoCorrect</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!codeUserPay}, Código no válido, inténtelo de nuevo.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>hasNoPendingPayments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;La reserva {!Obtain_record_for_payment.Name}, no tiene pagos pendientes&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>codeUserPay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Ingresa_el_c_digo_de_pago_n_mero_de_reserva</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Obtain_record_for_payment.Status__c</elementReference>
        </value>
    </variables>
</Flow>
